body{
    background-color: darkslategray;
    color: white;
    margin-bottom: 10%;
    padding: 0%;
    margin: 0%;
}

ul{
    padding: 10px;
    display: inline-block;

}

ul li{
    list-style-type: none;
    overflow: hidden;
    padding: 10px;   
    display: block;
}

ul li a{
    color: white;
    display: hidden;
}

ul.li.a.p{
    color: red;
    display: hidden;
}  

ul li a:hover p{
    text-decoration: none;
    display: inline-block;
    position: absolute;
    left: 25px;
    background-color: darkgrey;
    top: 70px;
}

a{
    text-decoration: none;
}
ul li a:visited{
    text-decoration: none;
}

.task_hidden{
    display: none;
}

.task{
    display: block;
}

div{
    /* background-color: darkturquoise; */
    padding: 10px;
}

header{
    background-color: slateblue;
    padding: 10px;
    text-align: center;
    margin: 0%;
    bottom: 15%;
}

header ul{
    font-size: 12px;
}

.toc{
    text-align: center;
    bottom: 10%;
    margin: 0%;
    width: 100%;
    padding: 0;
    height: 100%;
    padding-top: 0%;
}

.toc ul{
    height: 100%;
    background-color: pink;
    padding-left: 0%;
    padding-top: 0%;
    margin-top: 0;

}

.toc ul li{
    width: 100%;
    padding: 10px;

}
.toc ul li:hover{
    background-color: orange;

}

.main{
    display: flex;
    margin: 0%;
    padding: 0%;
    height: 600px;
    position: relative;
}

.left{
    width: 15%;
    background-color: red;
    float: left;
    padding: 0%;
}

.center{
    width: 70%;
    background-color: blue;
    float: center;
    
}

.right{
    width: 15%;
    background-color: purple;
    float: right;

}

.footer{
    text-align: center;
    font-size: 10px;
    position: fixed;
    left: 0; 
    bottom: 0;
    right: 0;
    width: 100%;
    margin: 0%;
    overflow: hidden;
    padding: 0%;
    background-color: greenyellow;
}

.upper{
    position: relative;
    top: 10%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.split{
    background-color: cadetblue;
    position: relative;
    top: 10%;
    width: 100%
}
