body{
    background-image: url("background.jpg");
    /* background-size: 100%; */
    background-repeat: no-repeat;
    margin: 0%;
    display: block;
}
div{
    text-align: center;
    width: 60%;
    display: block;
}

ul{
    text-decoration: none;
    list-style: none;
}

.header{
    text-align: center;
    background-color: coral;
    margin: 0%;
    top: 0;
    height: 125px;
}

.header h1{
     margin: 0%;
     top: 50%;
}

.main{
    background-color: crimson;
    width: 45%;
    margin: auto;
}

ul{
    align-content: center;
    padding: 10px;
}

ul li a{
    text-decoration:none;
    color: white;
    padding: 10px;
}

.display_table{
    align-content: center;
    background-color: purple;
    padding: 10px;
}

.message_holder{
    background-color: antiquewhite;
    padding: 10px;
}